{% extends "app/layout.html" %}

{% load static %} <!-- Загрузка библиотеки static -->
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    Наша компания специализируется на производстве и продаже высококачественных велотренажеров. Мы стремимся предоставить нашим клиентам лучшие решения для поддержания здоровья и физической формы. Наши велотренажеры разработаны с учетом последних технологий и инноваций, чтобы обеспечить максимальный комфорт и эффективность тренировок.
</p>

<p>
    Мы гордимся нашей командой профессионалов, которые работают над созданием продуктов, соответствующих самым высоким стандартам качества. Наши велотренажеры проходят строгие тесты и проверки, чтобы гарантировать их надежность и долговечность.
</p>

<p>
    Если у вас есть вопросы или вы хотите узнать больше о наших продуктах, пожалуйста, свяжитесь с нами. Мы всегда рады помочь!
</p>

<img src="{% static 'app/content/onas.jpg' %}" alt="О нас" class="img-responsive" style="width: 100%;">

{% endblock %}
